* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {


    background-color: gray;
    margin: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-height: 100vh;
    
}

.hechizos {
    background-color: aquamarine;
    width: 100%;
}

.esbirros {
    background-color: rgb(156, 110, 9);
    width: 100%;
}

.imagen {
    display: flex;
    gap: 10px;
}
.imagen img {
    width: 33.33%;
    height: auto;
    object-fit: contain;
}